<mat-card>
<mat-card-content>
<table class="table">

  <thead>
  <tr>
  <th scope="row">Id </th>
  <th scope="row">Nazwa </th>
  <th scope="row">Billing id </th>
  <th scope="row">Billing id </th>

  </tr>
  </thead>

  <tbody>
  <tr  *ngFor="let el of model">
  <th scope="row">{{el.id}}</th>
  <td>{{el.name}}</td>
  <td>{{el.billings.id}}</td>
  <td><button mat-button (click)="edit(el.id)">Edytuj</button> </td>
  <td><button mat-button (click)="delete(el)">Usuń</button> </td>
  </tr>
  </tbody>
</table>
</mat-card-content>
</mat-card>
